/AbstractDistribution_AbstractDistribution.class
/AbstractDistribution_Delta.class
/Delta_AbstractDistribution.class
/Discrete_AbstractDistribution.class
/Discrete_Discrete.class
/Gaussian_Gaussian.class
/MixGaussians_MixGaussians.class
/Mixture_GaussianDelta.class
/Mixture_Mixture.class
