/ProbDist_DomainSizeThree.class
/ProbDist_Fig2GolinRote98.class
/ProbDist_Fig3GolinRote98.class
/ProbDist_IdealDomainSizeFive.class
/ProbDist_KonheimMod.class
/ProbDist_KonheimWithoutDigitsPunct.class
/ProbDist_NotIdealDomainSizeFive.class
/ProbDist_Venkatagiri99_Hypothesized.class
