/Huffman_FixedRE.class
/Huffman_Meagan.class
/Huffman_ProportionalRE.class
/LinearKB_HuffmanET_DirectHybrid.class
/LinearKB_HuffmanET_Focus.class
/LinearKB_HuffmanUnequalET_Focus.class
/RowCol_QWERTY.class
/RowCol_Unigram.class
/RowCol_Unigram_Meagan.class
